<div class="directory-structure-container">
    <div class="project-header">
        <span (click)="showCompiler=!showCompiler" [ngClass]="{'close': !showCompiler}">Settings</span>
    </div>
    <div *ngIf="showCompiler" class="comiplers-detail">
        <table>
            <tr>
                <td>Assembly</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Bash</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Basic</td>
                <td>
                    FBC 1.07.1
                </td>
            </tr>
            <tr>
                <td>Bosque</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>C</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>C#</td>
                <td>
                    Mono 6.6.0.161
                </td>
            </tr>
            <tr>
                <td>C++</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>C3</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>COBOL</td>
                <td>
                    GnuCOBOL 2.2
                </td>
            </tr>
            <tr>
                <td>Common Lisp</td>
                <td>
                    SBCL 2.0.0
                </td>
            </tr>
            <tr>
                <td>D</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Elixir</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Erlang</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Executable</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Fortran</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Go</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
            <tr>
                <td>Haskell</td>
                <td>
                    <select>
                        <option value="0">Select Version</option>
                        <option value="1">1.0.0</option>
                        <option value="2">1.0.1</option>
                        <option value="3">1.0.2</option>
                      </select>
                </td>
            </tr>
        </table>
    </div>
</div>