<nav class="navbar">
    <div class="left-nav-items">
        <ul>
            <li class="logo">
                <a href="javascript:void(0);">
                </a>
            </li>
            <li class="user-project">
                <a href="javascript:void(0);" class="user">@username</a>
                <a href="javascript:void(0);" class="prj">project-name-kjYmjt</a>
            </li>
            <li class="lock-project">
                <a href="javascript:void(0);" class="open"></a>
            </li>
            <li class="action">
                <a href="javascript:void(0);" class="save-file">Save</a>
            </li>
            <li class="action">
                <a href="javascript:void(0);" class="fork-code">Fork</a>
            </li>
            <li class="action">
                <a href="javascript:void(0);" class="share">Share</a>
            </li>
        </ul>
    </div>
    <div class="right-nav-items">
        <ul>
            <li class="action">
                <a href="javascript:void(0);" class="github-signin">Sign in</a>
            </li>
        </ul>
    </div>
</nav>