<div id="terminall" class="text-editor-wrap terminal-container">
    <div class="title-bar"><span class="title">TERMINAL</span></div>
    <!-- <div class="command-text-area" [innerHTML]="executedCommand"></div>
    <div class="text-body">
        <form (ngSubmit)="execCommand()">
            ><input id="commandArea" type="text" name="command" [(ngModel)]="command">
            <textarea id="commandArea" rows="10" cols="50" aria-multiline="true"></textarea>
    </form>
</div> -->
    <div id="terminal"></div>
</div>